<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="assets/css/style.css">
		<title>News</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="assets/js/index.js"></script>
	</head>
	<body>
        <div id="nav">Home</div>
		{{{ body }}}
	</body>
</html>